{% extends 'layout.html' %}


{% block body %}
<br><br><br><br><br>
<section class="hero is-medium is-info" style="margin-left:150px; margin-right:150px;">
    <div class="hero-body">
      <p class="title" style="margin-left:30%;">
        Creator, Hazar YIGIT
      </p>
      <p class="subtitle">
        This is not a professional website. But you can use this site with your friends for fun. If you have any ideo to develop this site you can mail me, I will drop my mail below.
      </p>
      <p style="text-align:center;margin-bottom:0px;">
        <small>My mail adress:hazary115@gmail.com</small>
        <small>My GitHub: <a href="https://github.com/hazaryigitt25" target="_blank">https://github.com/hazaryigitt25</a></small>
      </p>
      <p style="text-align:center;margin-bottom:0px;">
        <small>Made by Hazar Yigit</small>
      </p>

    </div>
  </section>


{% endblock body %}