{% extends 'layout.html' %}

{% block body %}
{% load crispy_forms_tags %}
<br>
<section class="hero is-medium is-info" style="margin-left:150px; margin-right:150px;">
    <div class="hero-body">
        <div class="row justify-content-md-center">
            <div class="col-md-auto">
                <h3>Change Your Password</h3>
                <hr>
                <form method="post">
                {% csrf_token %}
                {{form|crispy}}
                <br>
                <p><strong>Site will not ask anything if you are sure click on 'Change' button</strong></p>
                <button type="submit" class="btn btn-light">Yes, I am sure Change</button>
                <a href="/msg/profile/{{request.user.username}}" class="btn btn-danger">No, I am not</a>
                </form>
            </div> 
        </div>
    </div>
  </section>

{% endblock body %}