{% extends 'layout.html' %}


{% block body %}
<br><br><br><br><br>
<section class="hero is-medium is-info" style="margin-left:150px; margin-right:150px;">
    <div class="hero-body">
      <p class="title" style="margin-left:30%;">
        Welcome To Message App
      </p>
      <p class="subtitle">
        Hello, visitor. This app made for talking with your friends,lovers, or anyone you want. You can use this app for free. you just need to register.
      </p>
      <p style="text-align:center;margin-bottom:0px;">
        <small>Made by Hazar Yigit</small>
      </p>
    </div>
  </section>


{% endblock body %}